@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #1f2933;
  --font-primary: #ffffff;
  --font-secondary: #b0bec5;
  --male-color: #2196f3;
  --female-color: #e91e63;
  --border-color-same-school: #ffc107;
  --success-color: #4caf50;
  --attention-color: #ff9800;
  --danger-color: #e53935;
  --border-color-dsa-student: #ff7043;
  --secondary-color: #f5f5f5;

  --button-color: #1976d2;
}
body {
  background-color: var(--background);
  color: var(--font-primary);
  font-family: "Nunito", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
button {
  background-color: var(--button-color);
  border: none;
  padding: 7px 10px;
  text-transform: uppercase;
  color: var(--font-primary);
}
button:hover {
  background-color: #1565c0;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

p {
  color: var(--font-secondary);
}
label {
  color: var(--font-secondary);
}
form {
  margin-block: 10em;
}
.slot {
  position: relative;
  display: inline-block;
  box-shadow: 5px 5px 10px -10px black inset;
  width: 200px;
  height: 200px;
  margin: 3px;
  vertical-align: top;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ball {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 15%;
  position: relative;

  margin: 5px;
}
